.navbar {
    position: fixed;
    margin-top: -130px;
    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;  
}
span{
   padding: 15px;
   margin-top: -10px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    vertical-align: middle;
}
span:hover {
    background:rgba(63, 72, 79, 0.5); 
 }
 body {
  margin: 0;
  padding: 0;  
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 button{
  color:white;
  font-family: 'Times New Roman', Times, serif;
  background-color: #d7bdaa;
  border-color:  #d7bdaa;
  padding: 10px;
  width:150px
  
  
}
button:hover{
  background-color: #948364;
  border-color:  #948364;
}
  input{
    width: 15px; 
    height: 15px; 
    color:#bd6200;
  }
  .vertical {
    border-left: 6px solid rgb(211, 206, 185);
    height: 800px;
    position: absolute;
    margin-left: 150px;
  }
div{
  font-size: 15px;
}
.footer {
  width: 1900px;
  height: 50px;
  background-color: rgb(179, 163, 118);
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-top: 25px;
  }


  