.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;  
}
span{
   padding: 15px;
   margin-top: -10px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    vertical-align: middle;
}

span:hover {
   background:rgba(63, 72, 79, 0.5); 
}
.footer {
    width: 1900px;
    height: 50px;
    background-color: rgb(179, 163, 118);
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    }